:root {
    --bg: #333;
    --text: #fff;
    --text-highlight: #41e3ff;
    --text-alt: #eeff00;
    --light-card-bg: #444;
    --light-card-selected: #cd43ff;
    --light-card-bg-hover: #666;
    --font: "JetBrains Mono", monospace;
}
